@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth;
  background: rgb(var(--background-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
  min-height: 100vh;
}

section {
  position: relative;
  background: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 